@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.margin-top{
  margin-top: 101px;
}
.about-details {
  position: relative;
  z-index: 1;
  padding: 100px 30px;
}

.about-details .hover-effect-content {
  visibility: visible;
  opacity: 1;
}

.about-details-wrapper {
  display: flex;
  gap: 50px;
}

.about-details-header{
  animation: detailsanimate 0.5s linear 1 forwards;
}
@keyframes detailsanimate{
  0%{
      transform: translateX(-100px);
      opacity: 0;
      visibility: hidden;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
  }
}
.about-details-header h1{
  font-size: 30px;
  color: #2f3985;
  font-weight: 700;
  margin-bottom: 30px;
}
.about-details-header h1 span{
  color: red;
}
.about-details-header p{
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-size: 14px;
  color: #333333;
  max-width: 600px;
  gap: 6px;
}
.about-details-image{
  width: 100%;
  max-width: 500px;
  flex-shrink: 0;
  height: 300px;
}
.about-details-image{
  animation: detailsImage 0.5s linear 1 forwards;
}
@keyframes detailsImage{
  0%{
      transform: translateX(100px);
      opacity: 0;
      visibility: hidden;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
  }
}
.about-details-image .lazy-load-image-background{
  width: 100%;
  height: 100%;
}
.about-details-image .lazy-load-image-background img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  -o-object-fit: fill;
}
@media screen and (max-width: 1025px) {
  .about-details-image{
      max-width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .about-details-wrapper{
      flex-direction: column-reverse;
      align-items: center;
  }
  .about-details-header p{
      max-width: 690px;
  }
  .about-details-image{
      max-width: 690px;
  }
}
@media screen and (max-width: 900px) {
  .margin-top{
    margin-top: 76px;
  }
}